:root {
  --font-light: aliceblue;
  --font-dark: black;
  --border-color: black;
  --bg-light: lightgray;
  --bg-dark: rgb(31, 28, 28);
  --bg-color: rgb(47, 47, 159);
  --bg-danger: red;
  --bg-success: green;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headerTitle {
  background-color: var(--bg-dark);
  padding: 1em;
  text-align: center;
  color: var(--font-light);
}

.previewTitle {
  background-color: var(--bg-dark);
  padding: 0.75em 0.75em 0.25em 0.75em;
  color: var(--font-light);
}

.previewHeader {
  margin: 0.5em 1em;
  border-bottom: solid 2px var(--border-color);
  width: 65%;
}

.infoHeader {
  margin: 0.5em 1em;
}

.container {
  max-width: 800px;
  margin-top: 3em;
  background-color: var(--background-light);
  border-radius: 5px;
  box-shadow: 20px 20px 50px 15px grey;
}

.gridContainer {
  display: grid;
  width: 750px;
}

input,
textarea {
  background-color: var(--background-light);
  font-size: 16px;
  border: solid 1px var(--bg-dark);
  border-radius: 5px;
  padding: 10px;
  margin: 0.25em 1em;
}

.inputBox {
  display: grid;
  justify-content: center;
}

input[type="submit"] {
  background-color: var(--bg-success);
  color: var(--font-light);
}

input[name="delete"] {
  background-color: var(--bg-danger);
}

button {
  display: inline-block;
  border-radius: 30px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 15rem;
  background: var(--bg-dark);
  color: var(--font-light);
}

.success:hover {
  background-color: var(--bg-success);
}

.warning:hover {
  background-color: var(--bg-danger);
}

.resetBtnGroup {
  border-top: solid 2px black;
  margin-top: 1em;
  padding: 1em;
}

.main {
  display: flex;
  justify-content: space-around;
}

.displayField {
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 2em;
  display: flex;
  width: 65%;
  overflow-wrap: break-word;
}

.displayFieldTitle {
  font-weight: bold;
  margin-right: 0.5em;
}

.persInfoDisplay {
  font-size: 0.75em;
  background-color: var(--bg-light);
  color: var(--font-dark);
  margin: 0 0 0 1.5em;
  padding: 0.25em;
}

img {
  border: none;
  margin: 1.5em 0 0 1.15em;
  height: 225px;
  width: 175px;
}

.persInfoDisplayTitle {
  font-size: 1em;
  background-color: var(--bg-dark);
  font-weight: bold;
  color: var(--font-light);
  padding-left: 1.5em;
  padding-bottom: 1.5em;
}

.footer {
  background-color: var(--bg-dark);
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-light);
  height: 4em;
}

.sidebar {
  height: 100vh;
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  overflow-wrap: break-word;
  background-color: var(--bg-light);
}

.sidebar-container {
  position: relative;
}
