:root {
  --font-light: aliceblue;
  --border-color: black;
  --bg-dark: rgb(31, 28, 28);
  --bg-light: lightgray;
  --bg-danger: red;
  --bg-success: green;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.headerTitle {
  background-color: var(--bg-dark);
  padding: 1em;
  text-align: center;
  color: var(--font-light);
}

.previewTitle{
  background-color: var(--bg-dark);
  padding: .75em .75em .25em .75em;
  
  color: var(--font-light);
}

.previewHeader {
  margin: 0.5em 1em;
  border-bottom: solid 1px var(--border-color);
}

.infoHeader {
  margin: 0.5em 1em;
}

.container {
  max-width: 800px;
  margin-top: 3em;
  background-color: var(--background-light);
  border-radius: 5px;
  box-shadow: 20px 20px 50px 15px grey;
}

.gridContainer {
  display: grid;
  width: 750px;
}

input {
  background-color: var(--background-light);
  font-size: 16px;
  border: solid 1px var(--bg-dark);
  border-radius: 5px;
  padding: 10px;
  margin: 0.25em 1em;
}

.inputBox {
  display: grid;
  justify-content: center;
}

input[type="submit"] {
  background-color: var(--bg-success);
  color: var(--font-light);
}

input[name="delete"] {
  background-color: var(--bg-danger);
}

.main {
  display: flex;
  justify-content: space-around;
}

.displayField {
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 2em;
  display: flex;
}

.displayText {
  font-weight: bold;
  margin: auto;
}

.persInfoDisplay {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5em;
}

.persInfoDisplayTitle {
  font-size: 1em;
  background-color: var(--bg-dark);
  font-weight: bold;
  color: var(--font-light);
  padding-left: 1.5em;
  padding-bottom: 1.5em;
}
